<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.32" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Client" version="1.5.374.158" manuallyInstalled="true" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Configuration" version="1.5.374.158" manuallyInstalled="true" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Core" version="1.5.374.158" manuallyInstalled="true" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Security.Certificates" version="1.5.374.158" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Server" version="1.5.374.158" manuallyInstalled="true" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" />
  <package id="System.Formats.Asn1" version="8.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>